/* 검색 버튼 스타일 */
.search-button {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: 'System';
    -fx-padding: 10 20;
    -fx-border-color: #999999;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: #323232;
}

/* 로그인 버튼 스타일 */
.login-button {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: 'System';
    -fx-border-color: #6a6a6a;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #323232;
}